{% extends "core/base.html" %}

{% block content %}
    <h1>Card stacks</h1>
    <ul>
        {% for stack in stacks %}
        <a href="{% url 'stack-detail' stack.pk %}">
            <li>{{stack.name}}</li>
        </a>
        {% endfor %}
    </ul>
    <section>
        <h2>Create a new stack</h2>
        <form action="{% url 'stack-list' %}" method="POST">
            {% csrf_token %}
            <p>
                <label for="stack-name">New stack name:</label>
                <input type="text" name="stack_name" id="stack-name" required>
            </p>
            <p>
                <button type="submit">Create stack</button>
            </p>

        </form>
    </section>
{% endblock %}